@font-face {
  font-family: "Fraunces";
  src: url("../assets/Fraunces.woff2") format("woff2");
  font-display: swap;
  font-weight: 100 900;
}

:root {
  --u1: 4px;
  --u2: 8px;
  --u3: 12px;
  --u4: 24px;

  --font-body: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  --font-header: "Fraunces";

  --color-background: #fafa87;
  --color-foreground: #080803;

  --color-text: #080803;

  --color-faded: rgba(100, 100, 80, 0.5);

  --color-accent-1: #f2953e;
  --color-accent-2: #ffddcb;
  --color-accent-3: #abe0f0;

  --font-size-title: 24px;
  --font-size-subtitle: 16px;
  --font-size-body: 14px;

  --border-default: 1.5px solid var(--color-foreground);
  --border-radius-1: 3px;
}

.block {
  border-radius: 3px;
  background: white;
  border: var(--border-default);
  box-shadow: 2px 3px 0 var(--color-foreground);
}

input {
  border: var(--border-default);
  padding: var(--u2) var(--u3);
  border-radius: var(--border-radius-1);
}

button,
.button {
  display: inline-block;
  border: var(--border-default);
  padding: var(--u2) var(--u4);
  font-weight: 600;
  background: var(--color-foreground);
  color: var(--color-background);
  transition: opacity 0.2s ease-in;
  border-radius: var(--border-radius-1);
  text-decoration: none;
  line-height: 1;
  &:hover {
    opacity: 0.88;
  }
  &:visited {
    color: var(--color-background);
  }
  &:active {
    transform: translate(1px, 1px);
  }
  &.compact {
    font-size: 0.9rem;
    padding: var(--u1) var(--u3);
  }
}

button[secondary],
.button.secondary {
  background-color: transparent;
  color: var(--color-dark);
}
