@import "./styles/reset.css";
@import "./styles/layout.css";
@import "./styles/theme.css";
@import "./styles/utils.css";

html,
body {
  background-color: var(--color-background);
}

body {
  font-family: var(--font-body);
  margin: 0 auto;
  min-height: 100%;
  max-width: 860px;
  font-size: 15px;
}

input,
select,
textarea,
button {
  font-family: var(--font-body);
}

a {
  color: var(--color-text);
}

#app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
