@import "./styles/reset.css";
@import "./styles/layout.css";
@import "./styles/theme.css";

html,
body {
  background-color: var(--background);
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  margin: 0 auto;
  min-height: 100%;
  max-width: 860px;
  font-size: 15px;
}

#app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
