@import "./styles/reset.css";
@import "./styles/layout.css";
@import "./styles/theme.css";

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  margin: 0;
  background-color: var(--background);
  min-height: 100%;
  font-size: 15px;
}

#app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
